body {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: auto; 
    min-height: 100vh; 
    padding: 3rem 1rem;
    align-items: center; 
}

.auth-container {
    background-color: #fff;
    padding: 2rem 2.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 450px;
    max-height: 90vh;
    overflow-y: auto;
    margin : 0;
}

.auth-container h2 {
    margin-bottom: 1.5rem;
    font-size: 2.7rem;
    font-family: 'Bebas Neue', sans-serif;
    color: #333;
}

.auth-container form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-align: left;
}

.auth-container label {
    font-size: 1rem;
    color: #444;
}

.auth-container input,
.auth-container select {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: sans-serif;
}

.auth-container button {
    padding: 1rem;
    background-color: #ffdd00;
    border: none;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: 'Bebas Neue', sans-serif;
}

.auth-container button:hover {
    background-color: #e6c800;
}

.auth-container p {
    margin-top: 1rem;
    font-size: 1rem;
}

.auth-container a {
    color: #000;
    text-decoration: underline;
}

/* Ocultar select de role (já que será escolhido depois) */
#role {
    display: none;
}
